{% extends 'dentx/app.html' %}
{% load static i18n mydentist_tags %}

{% block title %}
	{% trans "Bemorlar" %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="row ml-5 mt-5">
            <div class="col-lg-3 col-md-4 col-4 center">
                <img src="/media/{{ patient_extra.image }}" class="img-fluid">
            </div>
            <div class="col-md-9 col-md-8 col-8">
                <h3>{{ patient_extra }}</h3>
                <p>
                    <a href="tel:{{ patient_extra.phone_number }}" class="text-decoration-none">{{ patient_extra.phone_number }}</a>
                </p>
                <p>
                    <span class="badge bg-success">{{ year }}</span>
                    <span class="badge bg-primary">{{ gender }}</span>
                </p>
            </div>
        </div>
        <div class="mt-5">
            <ul class="nav nav-pills my_select mx-auto mb-3" id="pills-tab" role="tablist">
                <li class="nav-item my_select_item" role="presentation">
                    <button class="nav-link {% if active_tab == "profile" %}active{% endif %}" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">{% trans "Shaxsiy ma'lumotlar" %}</button>
                </li>
                <li class="nav-item my_select_item" role="presentation">
                    <button class="nav-link {% if active_tab == "appointment" %}active{% endif %}" id="pills-appointment-tab" data-bs-toggle="pill" data-bs-target="#pills-appointment" type="button" role="tab" aria-controls="pills-appointment" aria-selected="false">{% trans "Yozilgan vaqti" %}</button>
                </li>
                <li class="nav-item my_select_item" role="presentation">
                    <button class="nav-link {% if active_tab == "process" %}active{% endif %}" id="pills-process-tab" data-bs-toggle="pill" data-bs-target="#pills-process" type="button" role="tab" aria-controls="pills-process" aria-selected="false">{% trans "Davolanish jarayoni" %}</button>
                </li>
                <li class="nav-item my_select_item" role="presentation">
                    <button class="nav-link {% if active_tab == "dental-map" %}active{% endif %}" id="pills-dental-map-tab" data-bs-toggle="pill" data-bs-target="#pills-dental-map" type="button" role="tab" aria-controls="pills-dental-map" aria-selected="false">{% trans "Tish xaritasi" %}</button>
                </li>
                <li class="nav-item my_select_item" role="presentation">
                    <button class="nav-link {% if active_tab == "photos" %}active{% endif %}" id="pills-photos-tab" data-bs-toggle="pill" data-bs-target="#pills-photos" type="button" role="tab" aria-controls="pills-photos" aria-selected="false">{% trans "Rasmlar" %}</button>
                </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade {% if active_tab == "profile" %}show active{% endif %}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col"></div>
                            <div class="col-auto">
                                <button class="btn my_btn" data-bs-toggle="modal" data-bs-target="#profileModal">{% trans "Ma'lumotlarni tahrirlash" %}</button>
                            </div>
                        </div>
                        <div class="modal fade" id="profileModal" tabindex="-1" aria-labelledby="profileModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="serviceModalLabel">{% trans "Ma'lumotlarni tahrirlash" %}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form action={% url 'dentx:update_patient' id=patient_extra.id form="profile" %} method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="big_title mb-5">
                                                    {% trans "Shaxsiy ma'lumotlar" %}
                                                </div>
                                                {% for field in userform %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                    {% if field.name == "birth_year" %}
                                                        <div class="col-md-6 mb-3">
                                                            <label for="birthday_holder" class="form-label">{% trans "Tug'ilgan sana" %}</label>
                                                            <div id="birthday_holder">
                                                                <div class="birth_item">
                                                                    <i id="birth_year_1" class="fas fa-sort-up"></i>
                                                                    {{ field }}
                                                                    <i id="birth_year_2" class="fas fa-sort-down"></i>
                                                                </div>
                                                    {% elif field.name == "birth_month" %}
                                                                <div class="birth_item">
                                                                    <i id="birth_month_1" class="fas fa-sort-up"></i>
                                                                    {{ field }}
                                                                    <i id="birth_month_2" class="fas fa-sort-down"></i>
                                                                </div>
                                                    {% elif field.name == "birth_day" %}
                                                                <div class="birth_item">
                                                                    <i id="birth_day_1" class="fas fa-sort-up"></i>
                                                                    {{ field }}
                                                                    <i id="birth_day_2" class="fas fa-sort-down"></i>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% else %}
                                                        <div class="col-md-6 mb-3">
                                                            <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                                            {{ field }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="big_title mb-5">
                                                    {% trans "Kasalliklar haqida" %}
                                                </div>
                                                {% for field in illnessform %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                    {% if field.name != "allergy_detail" %}
                                                        <div class="col-md-6 mb-3">
                                                            <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                                            {{ field }}
                                                            {% if field.name == "allergy" %}
                                                                {{ illnessform.allergy_detail }}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                <div class="big_title mb-5">
                                                    {% trans "Boshqa kasalliklar" %}
                                                </div>
                                                {% for field in otherillnessform %}
                                                    {% for error in field.errors %}
                                                        <div class="alert alert-danger">
                                                            {{ error }}
                                                        </div>
                                                    {% endfor %}
                                                    {% if field.name != "medications_detail" and field.name != "pregnancy_detail" %}
                                                        <div class="col-md-6 mb-3">
                                                            <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                                            {{ field }}
                                                            {% if field.name == "medications" %}
                                                                {{ otherillnessform.medications_detail }}
                                                            {% elif field.name == "pregnancy" %}
                                                                {{ otherillnessform.pregnancy_detail }}
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-primary me-md-2 mt-2" type="submit">{% trans "Tasdiqlash" %}</button>
                                                <button class="btn btn-secondary mt-2" type="button" data-bs-dismiss="modal" aria-label="Close">{% trans "Bekor qilish" %}</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="info-pane">
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Familiya" %}: </div>
                                        <div class="info_desc">{{ patient.last_name }}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Ism" %}: </div>
                                        <div class="info_desc">{{ patient.first_name }}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Jinsi" %}: </div>
                                        <div class="info_desc">{% get_gender patient_extra.gender_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Tug’ilgan sana" %}: </div>
                                        <div class="info_desc">{% date_format patient_extra.birthday %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Elektron manzil" %}: </div>
                                        <div class="info_desc">{{ patient.email }}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Telefon raqam" %}: </div>
                                        <div class="info_desc">{{ patient_extra.phone_number }}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Manzil" %}: </div>
                                        <div class="info_desc">{{ patient_extra.address }}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-pane">
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Qandli diabet" %}: </div>
                                        <div class="info_desc">{% get_option select='diabet' index=patient_illness.diabet_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Nechi marta narkoz qo'llanilgan?" %}: </div>
                                        <div class="info_desc">{% get_option select='anesthesia' index=patient_illness.anesthesia_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Gepatit B" %}: </div>
                                        <div class="info_desc">{% get_option select='hepatitis' index=patient_illness.hepatitis_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "OITS" %}: </div>
                                        <div class="info_desc">{% get_option select='aids' index=patient_illness.aids_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Qon bosimi" %}: </div>
                                        <div class="info_desc">{% get_option select='pressure' index=patient_illness.pressure_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Allergiya" %}: </div>
                                        <div class="info_desc">{% get_option select='allergy' index=patient_illness.allergy_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Bronxial astma" %}: </div>
                                        <div class="info_desc">{% get_option select='asthma' index=patient_illness.asthma_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Bosh aylanishi" %}: </div>
                                        <div class="info_desc">{% get_option select='dizziness' index=patient_illness.dizziness_id %}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="info-pane">
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Epilepsiya" %}: </div>
                                        <div class="info_desc">{% get_option select='epilepsy' index=patient_other_illness.epilepsy_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Qon kasali" %}: </div>
                                        <div class="info_desc">{% get_option select='blood_disease' index=patient_other_illness.blood_disease_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Doimiy dorilar" %}: </div>
                                        <div class="info_desc">{% get_option select='medications' index=patient_other_illness.medications_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Insultga uchraganmisiz?" %}: </div>
                                        <div class="info_desc">{% get_option select='stroke' index=patient_other_illness.stroke_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Yurak xurujiga uchraganmisiz?" %}: </div>
                                        <div class="info_desc">{% get_option select='heart_attack' index=patient_other_illness.heart_attack_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Onkologik kasalliklar" %}: </div>
                                        <div class="info_desc">{% get_option select='oncologic' index=patient_other_illness.oncologic_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Sil kasalligi" %}: </div>
                                        <div class="info_desc">{% get_option select='tuberculosis' index=patient_other_illness.tuberculosis_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Spirtli ichimlik ichasizmi?" %}: </div>
                                        <div class="info_desc">{% get_option select='alcohol' index=patient_other_illness.alcohol_id %}</div>
                                    </div>
                                    <div class="info_holder mb-2">
                                        <div class="info_name">{% trans "Homiladorlik" %}: </div>
                                        <div class="info_desc">{% get_option select='pregnancy' index=patient_other_illness.pregnancy_id %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if active_tab == "appointment" %}show active{% endif %}" id="pills-appointment" role="tabpanel" aria-labelledby="pills-appointment-tab">
                    {% if upcoming is not None %}
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 offset-md-3">
                                    <div class="card-body">
                                        <div tabindex="0" class="kanban-category">
                                            <div tabindex="0" class="kanban-item">
                                                <div class="card" draggable="false" style="border-top: 3px solid rgb(91, 192, 235); transform: translateZ(0px);">
                                                    <div class="card-body p-3">
                                                        <div class="row align-items-center">
                                                            <div class="col">
                                                                <h4>{% date_format upcoming.appointment.begin %}</h4>
                                                                <h4>{% time_format upcoming.appointment.begin %} - {% time_format upcoming.appointment.end %}</h4>
                                                            </div>
                                                            <div class="col-auto small">
                                                            {% if upcoming.appointment.status == "waiting" %}
                                                                <span class="badge bg-info">{% trans "Kutilmoqda" %}</span>
                                                            {% elif upcoming.appointment.status == "done" %}
                                                                <span class="badge bg-success">{% trans "Kelgan" %}</span>
                                                            {% elif upcoming.appointment.status == "missed" %}
                                                                <span class="badge bg-danger">{% trans "Kelmagan" %}</span>
                                                            {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="row align-items-start">
                                                            <div class="col">
                                                                <div class="mb-4"></div>
                                                                <div class="row align-items-start mt-1">
                                                                    <div class="col">
                                                                        <div class="small text-muted">{{ upcoming.service.name }}</div>
                                                                        <div class="small text-muted">{{ upcoming.appointment.comment }}</div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer1 p-2 border-top">
                                                        <div class="row">
                                                            <div class="col">
                                                            </div>
                                                            <div class="col-auto">
                                                                <a href="tel:{{ patient_extra.phone_number }}" class="btn btn-outline-info mr-2" draggable="false">
                                                                    <i class="fas fa-phone"></i>
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <h2 class="mt-5" style="text-align: center;">{% trans "Ushbu bemor ko'rikga yozilmagan" %}</h2>
                    {% endif %}
                </div>
                <div class="tab-pane fade {% if active_tab == "process" %}show active{% endif %}" id="pills-process" role="tabpanel" aria-labelledby="pills-process-tab">
                    {% if appointments %}
                        <div class="overflow">
                            <table class="table table-primary table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col"></th>
                                        <th scope="col">{% trans "Shifokor" %}</th>
                                        <th scope="col">{% trans "Xizmat nomi" %}</th>
                                        <th scope="col">{% trans "Narxi" %}</th>
                                        <th scope="col">{% trans "Davomiyligi" %}</th>
                                        <th scope="col">{% trans "Boshlangan vaqti" %}</th>
                                        <th scope="col">{% trans "Tugagan vaqti" %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for appointment in appointments %}
                                        <tr>
                                            <td>{{ appointment.number }}</td>
                                            <td>{{ appointment.dentist.fullname }}</td>
                                            <td>{{ appointment.service_translation.name }}</td>
                                            <td>{{ appointment.service.price }} {% trans "so'm" %}</td>
                                            <td>{% convert_time appointment.service.duration %}</td>
                                            <td>{{ appointment.appointment.begin }}</td>
                                            <td>{{ appointment.appointment.end }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% else %}
                        <h2 class="mt-5" style="text-align: center;">{% trans "Ushbu bemor davolanmagan" %}</h2>
                    {% endif %}
                </div>
                <div class="tab-pane fade {% if active_tab == "dental-map" %}show active{% endif %}" id="pills-dental-map" role="tabpanel" aria-labelledby="pills-dental-map-tab">
                    <div class="overflow tab-pane fade show active">
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="d-flex justify-content-md-evenly">
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">1</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">2</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">3</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">4</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">5</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">6</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">7</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">8</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">9</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">10</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">11</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">12</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">13</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">14</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">15</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">16</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="d-flex justify-content-md-evenly">
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">1</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">2</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">3</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">4</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">5</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">6</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">7</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">8</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">9</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">10</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">11</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">12</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">13</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">14</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">15</span>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <img src="{% static 'img/tooth-filling.svg' %}" alt="" class="image-fluid" style="max-height: 40px">
                                        <span class="badge bg-secondary mt-3">16</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade {% if active_tab == "photos" %}show active{% endif %}" id="pills-photos" role="tabpanel" aria-labelledby="pills-photos-tab">
                    <div class="panel">
                        {% if process_photos %}
                            <div id="carouselProcessPhotos" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-indicators">
                                    {% for i in counter %}
                                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" class="active" aria-current="true" aria-label="Slide {{ i }}"></button>
                                    {% endfor %}
                                </div>
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="{{ cabinet_image.image.url }}" class="d-block w-100">
                                    </div>
                                    {% for image in process_photos %}
                                        <div class="carousel-item">
                                            <img src="{{ image.image.url }}" class="d-block w-100">
                                        </div>
                                    {% endfor %}
                                </div>
                                <button class="carousel-control-prev" type="button" data-bs-target="#carouselProcessPhotos" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Previous</span>
                                </button>
                                <button class="carousel-control-next" type="button" data-bs-target="#carouselProcessPhotos" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Next</span>
                                </button>
                            </div>
                        {% elif process_photo %}
                            <img src="{{ process_photo.image.url }}" class="d-block w-100">
                        {% endif %}
                        <button class="btn my_btn mx-auto mt-4" id="process-photo-upload-button">{% trans "Rasm yuklash" %}</button>
                        <input type="file" class="d-none" id="process-photo-upload" name="process-photo-upload">
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for field in illnessform %}
            {% if field.name == "allergy" %}
                $("#id_{{ field.name }}").val({{ field.value }})
                if ($("#id_allergy").val() == 2) {
                    $("#id_allergy_detail").addClass("d-block").removeClass("d-none")
                }
            {% elif field.name != "allergy_detail" %}
                $("#id_{{ field.name }}").val({{ field.value }})
            {% endif %}
        {% endfor %}
        {% for field in otherillnessform %}
            {% if field.name == "medications" %}
                $("#id_{{ field.name }}").val({{ field.value }})
                if ($("#id_medications").val() == 2) {
                    $("#id_medications_detail").addClass("d-block").removeClass("d-none")
                }
            {% elif field.name == "pregnancy" %}
                $("#id_{{ field.name }}").val({{ field.value }})
                if ($("#id_pregnancy").val() == 2) {
                    $("#id_pregnancy_detail").addClass("d-block").removeClass("d-none")
                }
            {% elif field.name != "medications_detail" and field.name != "pregnancy_detail" %}
                $("#id_{{ field.name }}").val({{ field.value }})
            {% endif %}
        {% endfor %}
        var date = new Date()
        var current_year = date.getFullYear(), current_month = date.getMonth()
        var months_uz = ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentyabr", "Oktyabr", "Noyabr", "Dekabr"],
            months_ru = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
        $("#birth_year_1").on("click", function(){
            if ($("#year_holder").val() == "") {
                $("#year_holder").val(current_year)
            } else if (parseInt($("#year_holder").val()) < current_year) {
                $("#year_holder").val(parseInt($("#year_holder").val()) + 1)
            }
        })
        $("#birth_year_2").on("click", function() {
            if ($("#year_holder").val() == "") {
                $("#year_holder").val(current_year)
            } else if (parseInt($("#year_holder").val()) > 1900) {
                $("#year_holder").val(parseInt($("#year_holder").val()) - 1)
            }
        })
        {% get_current_language as LANGUAGE_CODE %}
        $("#birth_month_1").on("click", function() {
            if ($("#month_holder").val() == "") {
                {% if LANGUAGE_CODE == "uz" %}
                    $("#month_holder").val(months_uz[current_month])
                {% elif LANGUAGE_CODE == "ru" %}
                    $("#month_holder").val(months_ru[current_month])
                {% endif %}
            } else {
                {% if LANGUAGE_CODE == "uz" %}
                    for (let i = 0; i < months_uz.length; i++) {
                        if ($("#month_holder").val() == months_uz[i] && i < months_uz.length - 1) {
                            $("#month_holder").val(months_uz[i + 1])
                            break
                        }
                    }
                {% elif LANGUAGE_CODE == "ru" %}
                    for (let i = 0; i < months_ru.length; i++) {
                        if ($("#month_holder").val() == months_ru[i] && i < months_ru.length - 1) {
                            $("#month_holder").val(months_ru[i + 1])
                            break
                        }
                    }
                {% endif %}
            }
        })
        $("#birth_month_2").on("click", function() {
            if ($("#month_holder").val() == "") {
                {% if LANGUAGE_CODE == "uz" %}
                    $("#month_holder").val(months_uz[current_month])
                {% elif LANGUAGE_CODE == "ru" %}
                    $("#month_holder").val(months_ru[current_month])
                {% endif %}
            } else {
                {% if LANGUAGE_CODE == "uz" %}
                    for (let i = months_uz.length; i >= 0; i--) {
                        if ($("#month_holder").val() == months_uz[i] && i > 0) {
                            $("#month_holder").val(months_uz[i - 1])
                            break
                        }
                    }
                {% elif LANGUAGE_CODE == "ru" %}
                    for (let i = months_ru.length; i >= 0; i--) {
                        if ($("#month_holder").val() == months_ru[i] && i > 0) {
                            $("#month_holder").val(months_ru[i - 1])
                            break
                        }
                    }
                {% endif %}
            }
        })
        $("#birth_day_1").on("click", function() {
            if ($("#day_holder").val() == "") {
                $("#day_holder").val(1)
            } else if (parseInt($("#day_holder").val()) < 31) {
                $("#day_holder").val(parseInt($("#day_holder").val()) + 1)
            }
        })
        $("#birth_day_2").on("click", function() {
            if ($("#day_holder").val() == "") {
                $("#day_holder").val(1)
            } else if (parseInt($("#day_holder").val()) > 1) {
                $("#day_holder").val(parseInt($("#day_holder").val()) - 1)
            }
        })
        $("#id_allergy").on("change", function() {
            if ($("#id_allergy").val() == 2) {
                $("#id_allergy_detail").addClass("d-block").removeClass("d-none")
            } else  {
                $("#id_allergy_detail").removeClass("d-block").addClass("d-none")
            }
        })
        $("#other_illness").on("change", function() {
            if ($("#other_illness").is(":checked")) {
                $("#other_illness_holder").addClass("d-block").removeClass("d-none")
            } else {
                $("#other_illness_holder").removeClass("d-block").addClass("d-none")
            }
        })
        $("#id_medications").on("change", function() {
            if ($("#id_medications").val() == 2) {
                $("#id_medications_detail").addClass("d-block").removeClass("d-none")
            } else {
                $("#id_medications_detail").removeClass("d-block").addClass("d-none")
            }
        })
        $("#id_pregnancy").on("change", function() {
            if ($("#id_pregnancy").val() == 2) {
                $("#id_pregnancy_detail").addClass("d-block").removeClass("d-none")
            } else {
                $("#id_pregnancy_detail").removeClass("d-block").addClass("d-none")
            }
        })
        $("#birth_year_1").on("change", function() {
            if (parseInt(this.val()) >= current_year) {
                this.val(current_year)
            }
        })
        let intervalFunc
        $("#process-photo-upload-button").on("click", function() {
            $("#process-photo-upload").click()
            intervalFunc = setInterval(function() {
                if ($("#process-photo-upload")[0].files.length != 0) {
                    let data = new FormData()
                    data.append("file", $("#process-photo-upload")[0].files[0])
                    data.append("csrfmiddlewaretoken", "{{ csrf_token }}")
                    $.ajax({
                        url: "{% url 'dentx:update_patient' id=patient_extra.id form='process-photo' %}",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        mimeType: "multipart/form-data",
                        data : data
                    }).always(function(result) {
                        let images = JSON.parse(result)
                        if (images.counter > 1) {
                            if ($("#pills-photos > .panel .carousel-indicators").length == 0) {
                                $("#pills-photos > .panel > img").remove()
                            } else {
                                $("#pills-photos > .panel > div").remove()
                            }
                            $("#pills-photos > .panel").prepend(
                                $("<div id='carouselProcessPhotos' class='carousel slide' data-bs-ride='carousel'></div>").append(
                                    $("<div class='carousel-indicators'></div>"),
                                    $("<div class='carousel-inner'></div>"),
                                    $("<button class='carousel-control-prev' type='button' data-bs-target='#carouselProcessPhotos' data-bs-slide='prev'></button>"),
                                    $("<button class='carousel-control-next' type='button' data-bs-target='#carouselProcessPhotos' data-bs-slide='next'></button>")
                                )
                            )
                            for (let i = 0; i < images.counter; i++) {
                                $("#pills-photos > .panel .carousel-indicators").append(
                                    $(`<button type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='${i}' class='active' aria-current='true' aria-label='Slide ${i}'></button>`)
                                )
                            }
                            $("#pills-photos > .panel .carousel-inner").append(
                                $("<div class='carousel-item active'></div>").append(
                                    $(`<img src=${images.process_photo} class='d-block w-100'>`)
                                )
                            )
                            for (let i = 0; i < images.process_photos.length; i++) {
                                $("#pills-photos > .panel .carousel-inner").append(
                                    $("<div class='carousel-item'></div>").append(
                                        $(`<img src=${images.process_photos[i]} class='d-block w-100'>`)
                                    )
                                )
                            }
                            $("#pills-photos > .panel .carousel-control-prev").append(
                                $("<span class='carousel-control-prev-icon' aria-hidden='true'></span>"),
                                $("<span class='visually-hidden'></span>").html("Previous"),
                            )
                            $("#pills-photos > .panel .carousel-control-next").append(
                                $("<span class='carousel-control-next-icon' aria-hidden='true'></span>"),
                                $("<span class='visually-hidden'></span>").html("Next"),
                            )
                        } else if (images.counter == 1) {
                            if ($("#pills-photos > .panel > img").length == 0) {
                                $("#pills-photos > .panel").prepend(
                                    $(`<img src=${images.process_photo} class='d-block w-100'>`).html("{% trans "Kabinet rasmi" %}")
                                )
                            }
                        }
                        $("#process-photo-upload").val("")
                        clearInterval(intervalFunc)
                    })
                }
            }, 500)
        })
        let request_path = "{{ request.path }}"
        request_path = request_path.split("/")
        $("#pills-profile-tab").on("click", function() {
            temp = request_path
            temp[temp.length - 1] = "profile"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-appointment-tab").on("click", function() {
            temp = request_path
            temp[temp.length - 1] = "appointment"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-process-tab").on("click", function() {
            temp = request_path
            temp[request_path.length - 1] = "process"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-dental-map-tab").on("click", function() {
            temp = request_path
            temp[request_path.length - 1] = "dental-map"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-photos-tab").on("click", function() {
            temp = request_path
            temp[request_path.length - 1] = "photos"
            window.history.replaceState({}, "", temp.join("/"))
        })
    </script>
{% endblock %}