{% extends 'dentx/app.html' %}
{% load static i18n %}

{% block title %}
	{% trans "Bemorlar" %}
{% endblock %}

{% block content %}
    <section class="container">
        <div class="header mt-md-5">
            <div class="header-body">
                <br>
                <div class="row align-items-center">
                    <div class="col">
                        <h1 class="header-title">{% trans "Bemorlar" %}</h1>
                    </div>
                    <div class="col-auto">
                        <button class="btn my_btn" data-bs-toggle="modal" data-bs-target="#exampleModal">{% trans "Yangi bemor" %}</button>
                    </div>
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">{% trans "Yangi bemor" %}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form class="form-group" method="POST">
                                        {% csrf_token %}
                                        <div class="pats">
                                            <div class="mb-1 d-flex justify-content-between">
                                                <label for="id_name">{{ patientform.name.label }}</label>
                                            </div>
                                            <div class="input-group w-100">
                                                {{ patientform.name }}
                                            </div>
                                            <div class="bottom-inputs d-flex justify-content-between flex-wrap mt-2">
                                                <div class="left col-12 col-lg-3 d-flex flex-column align-items-start">
                                                    <label class="mb-1 left" for="id_phone_number">{{ patientform.phone_number.label }}</label>
                                                    {{ patientform.phone_number }}
                                                </div> 
                                                <div class="center col-12 col-lg-3 d-flex flex-column align-items-start">
                                                    <label class="mb-1 left" for="id_birthday">{{ patientform.birthday.label }}</label>
                                                    {{ patientform.birthday }}
                                                </div>
                                                <div class="end col-12 col-lg-3">
                                                    <label class="mb-1 left" for="id_gender">{{ patientform.gender.label }}</label>
                                                    <div>
                                                    {% for el in patientform.gender %}
                                                        {{ el }}
                                                    {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="end col-12 col-lg-3 d-flex flex-column align-items-start">
                                                    <label class="mb-1 left" for="id_address">{{ patientform.address.label }}</label>
                                                    {{ patientform.address }}
                                                </div>
                                            </div>
                                            <div class="bottom-inputs d-flex justify-content-between flex-wrap mt-2">
                                                <div class="end col-12 col-lg-3">
                                                    <label class="mb-1 left" for="id_language">{{ languageform.language.label }}</label>
                                                    <div>
                                                    {{ languageform.language }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary me-md-2 mt-2" type="submit">{% trans "Tasdiqlash" %}</button>
                                            <button class="btn btn-secondary mt-2" type="button" data-bs-dismiss="modal" aria-label="Close">{% trans "Bekor qilish" %}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow mt-5 border-top">
                {% if text is not None %}
                    <div class="alert alert-success">
                        {{ text }}
                    </div>
                {% endif %}
                <ul class="d-flex justify-content-end list-group-horizontal me-auto my-2 my-lg-0 offset-lg-6" style="--bs-scroll-height: 100px;">
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Qarz</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item" href="#">Eng kami</a></li>
                            <li><a class="dropdown-item" href="#">Eng ko'pi</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown1" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ishi</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown1">
                            <li><a class="dropdown-item" href="#">Yakunlangan</a></li>
                            <li><a class="dropdown-item" href="#">Yakunlanmagan</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Jinsi</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown2">
                            <li><a class="dropdown-item" href="#">Erkak</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Ayol</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown list-group-item">
                        <a class="nav-link dropdown-toggle" id="navbarScrollingDropdown3" role="button" data-bs-toggle="dropdown" aria-expanded="false">Oxirgi tashrifi</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown3">
                            <li><a class="dropdown-item" href="#">Kecha</a></li>
                            <li><a class="dropdown-item" href="#">Shu hafta</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">Shu oyda</a></li>
                        </ul>
                    </li>
                </ul>
                <table class="table table-hover">
                    <thead class="table-light">
                        <tr>
                            <th scope="col">Rasm</th>
                            <th scope="col">Ism</th>
                            <th scope="col">Jins</th>
                            <th scope="col">Manzil</th>
                            <th scope="col">Qilingan ishlar</th>
                            <th scope="col">Qarz</th>
                            <th scope="col">Reajada</th>
                            <th scope="col">Oxirgi tashrif</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for result in results %}
                        <tr>
                            <th>
                                <div class="avatar avatar-xs mx-auto">
                                    <div class="border border-1">
                                        <img src="/media/{{ result.patient_extra.image }}">
                                        {% comment %} <i class="fa fa-image"></i> {% endcomment %}
                                    </div>
                                </div>
                            </th>
                            <td>
                                <a href="{% url 'dentx:patient' id=result.patient_extra.id active_tab="profile" %}" class="text-decoration-none">
                                    <h6>{{ result.patient_extra }}</h6>
                                    <h6>{{ result.patient_extra.birthday.year }}</h6>
                                    <h6>{{ result.patient_extra.phone_number }}</h6>
                                </a>
                            </td>
                            <td>{{ result.gender }}</td>
                            <td>{{ result.patient_extra.address }}</td>
                            <td>-</td>
                            <td>0 sum</td>
                            <td>Plomba qo'yish</td>
                            <td>kecha</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascript %}
    {% comment %} <script type="text/javascript">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'uz' %}days = [
            "Dushanba",
            "Seshanba",
            "Chorshanba",
            "Payshanba",
            "Juma",
            "Shanba",
            "Yakshanba"
        ]
        {% elif LANGUAGE_CODE == 'ru' %}days = [
            "Понедельник",
            "Вторник",
            "Среда",
            "Четверг",
            "Пятница",
            "Суббота",
            "Воскресенье"
        ]
        {% endif %}
        today = new Date()
        today.setTime(today.getTime() - ((today.getDay() + 6) % 7) * 24 * 60 * 60 * 1000)
        $.ajax({
            url: "{% url 'appointment:table' %}",
            success: function(result) {
                $(".overflow").html(result)
                $("head").append(
                    $("<link rel='stylesheet'>").attr("href", "{% static 'css/table.css' %}")
                )
                $(".overflow td").on("dblclick", function() {
                    if ($(".modal-form").hasClass("display_none")) {
                        $(".modal-form").addClass("display_absolute").removeClass("display_none")
                        temp = $(`thead th:nth-child(${$(this).index() + 1})`).html().split("<br>")
                        text = ` ${temp[1]}, ${temp[0]}, ${$(this).parent().children(":first-child").text()}`
                        $(".form-title p").text(text)
                    } else {
                        $(".modal-form").removeClass("display_absolute").addClass("display_none")
                    }
                })
            }
        })
        $(".fa-angle-left").on("click", function() {
            $.ajax({
                url : "{% url 'appointment:table' %}",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    day: today.getDate(),
                    month: today.getMonth() + 1,
                    year: today.getFullYear(),
                    direction: "left"
                },
                dataType : "json",
            }).always(function(result) {
                $(".overflow").html(result.responseText)
                $(".overflow td").on("dblclick", function() {
                    if ($(".modal-form").hasClass("display_none")) {
                        $(".modal-form").addClass("display_absolute").removeClass("display_none")
                        temp = $(`thead th:nth-child(${$(this).index() + 1})`).html().split("<br>")
                        text = ` ${temp[1]}, ${temp[0]}, ${$(this).parent().children(":first-child").text()}`
                        $(".form-title p").text(text)
                    } else {
                        $(".modal-form").removeClass("display_absolute").addClass("display_none")
                    }
                })
            })
            today.setTime(today.getTime() - 7 * 24 * 60 * 60 * 1000)
        })
        $(".fa-angle-right").on("click", function() {
            $.ajax({
                url : "{% url 'appointment:table' %}",
                type: "POST",
                data : {
                    csrfmiddlewaretoken: $('{% csrf_token %}').val(),
                    day: today.getDate(),
                    month: today.getMonth() + 1,
                    year: today.getFullYear(),
                    direction: "right"
                },
                dataType : "json",
            }).always(function(result) {
                $(".overflow").html(result.responseText)
                $(".overflow td").on("dblclick", function() {
                    if ($(".modal-form").hasClass("display_none")) {
                        $(".modal-form").addClass("display_absolute").removeClass("display_none")
                        temp = $(`thead th:nth-child(${$(this).index() + 1})`).html().split("<br>")
                        text = ` ${temp[1]}, ${temp[0]}, ${$(this).parent().children(":first-child").text()}`
                        $(".form-title p").text(text)
                    } else {
                        $(".modal-form").removeClass("display_absolute").addClass("display_none")
                    }
                })
            })
            today.setTime(today.getTime() + 7 * 24 * 60 * 60 * 1000)
        })
    </script> {% endcomment %}
{% endblock %}