{% extends 'app.html' %}
{% load static i18n %}

{% block title %}
	{% trans "Parolni tiklash yuborildi" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel">
            <div class="big_title mb-4">{% trans "Parolni tiklash yuborildi" %}</div>
            <p>{% trans "Agar siz kiritgan e-pochtada hisob mavjud boʻlsa, parolni oʻrnatish boʻyicha koʻrsatmalarni elektron pochta orqali yubordik. Siz ularni qisqa vaqt ichida qabul qilishingiz kerak." %}</p>
            <p>{% trans "Agar siz elektron pochta xabarini olmagan bo'lsangiz, ro'yxatdan o'tgan manzilingizni kiritganingizga ishonch hosil qiling va spam jildini tekshiring." %}</p>
        </div>
    </div>
{% endblock %}