{% extends 'app.html' %}
{% load static i18n %}

{% block title %}
	{% trans "Parolni tiklash" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel">
            <div class="big_title mb-4">{% trans "Parolni tiklash" %}</div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <form method="POST">
                            {% csrf_token %}
                            {{ emailform }}
                            <button type="submit" class="btn my_btn mt-4 mx-auto">{% trans "Jo'natish" %}</button>
                        </form>
                        <a href="{% url 'baseapp:index' %}">
                            <p class="mt-5 mb-3 text-center text-muted">&copy; MyDentist</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript">
        $("label").addClass("form-label")
        $("input").addClass("form-control")
	</script>
{% endblock %}