{% extends 'dentx/app.html' %}
{% load static i18n mydentist_tags %}

{% block title %}
	{% trans "Sozlamalar" %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="sub_title_gray center mb-4">
            {% trans "Sozlamalar" %}
        </div>
        <ul class="nav nav-pills my_select mx-auto mb-3" id="pills-tab" role="tablist">
            <li class="nav-item my_select_item" role="presentation">
                <button class="nav-link {% if active_tab == "profile" %}active{% endif %}" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="true">{% trans "Shaxsiy ma'lumotlar" %}</button>
            </li>
            <li class="nav-item my_select_item" role="presentation">
                <button class="nav-link {% if active_tab == "password" %}active{% endif %}" id="pills-password-tab" data-bs-toggle="pill" data-bs-target="#pills-password" type="button" role="tab" aria-controls="pills-password" aria-selected="false">{% trans "Parolni o'zgartirish" %}</button>
            </li>
            <li class="nav-item my_select_item" role="presentation">
                <button class="nav-link {% if active_tab == "clinic" %}active{% endif %}" id="pills-clinic-tab" data-bs-toggle="pill" data-bs-target="#pills-clinic" type="button" role="tab" aria-controls="pills-clinic" aria-selected="false">{% trans "Shifoxona ma'lumotlari" %}</button>
            </li>
            <li class="nav-item my_select_item" role="presentation">
                <button class="nav-link {% if active_tab == "clinic-photo" %}active{% endif %}" id="pills-clinic-photo-tab" data-bs-toggle="pill" data-bs-target="#pills-clinic-photo" type="button" role="tab" aria-controls="pills-clinic-photo" aria-selected="false">{% trans "Shifoxona rasmlari" %}</button>
            </li>
            <li class="nav-item my_select_item" role="presentation">
                <button class="nav-link {% if active_tab == "services" %}active{% endif %}" id="pills-services-tab" data-bs-toggle="pill" data-bs-target="#pills-services" type="button" role="tab" aria-controls="pills-services" aria-selected="false">{% trans "Xizmatlar" %}</button>
            </li>
        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade {% if active_tab == "profile" %}show active{% endif %}" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="panel">
                    <form action={% url 'dentx:update_dentist' form="profile" %} method="POST">
                        {% csrf_token %}
                        {% if active_tab == "profile" and success_message == "Updated successfully" %}
                            <div class="alert alert-success">
                                {% trans "Ma'lumotlar muvaffaqiyatli o'zgartirildi" %}
                            </div>
                        {% endif %}
                        <div class="row">
                            {% for field in userform %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                {% if field.name == "birth_year" %}
                                    <div class="col-md-6 mb-3">
                                        <label for="birthday_holder" class="form-label">{% trans "Tug'ilgan sana" %}</label>
                                        <div id="birthday_holder">
                                            <div class="birth_item">
                                                <i id="birth_year_1" class="fas fa-sort-up"></i>
                                                {{ field }}
                                                <i id="birth_year_2" class="fas fa-sort-down"></i>
                                            </div>
                                {% elif field.name == "birth_month" %}
                                            <div class="birth_item">
                                                <i id="birth_month_1" class="fas fa-sort-up"></i>
                                                {{ field }}
                                                <i id="birth_month_2" class="fas fa-sort-down"></i>
                                            </div>
                                {% elif field.name == "birth_day" %}
                                            <div class="birth_item">
                                                <i id="birth_day_1" class="fas fa-sort-up"></i>
                                                {{ field }}
                                                <i id="birth_day_2" class="fas fa-sort-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-6 mb-3">
                                        <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                            <div class="col-md-6 mb-3">
                                <label for="id_language" class="form-label">{{ languageform.language.label }}</label>
                                {{ languageform.language }}
                            </div>
                        </div>
                        <button type="submit" class="btn my_btn mx-auto">{% trans "Ma'lumotlarni o'zgartirish" %}</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade {% if active_tab == "password" %}show active{% endif %}" id="pills-password" role="tabpanel" aria-labelledby="pills-password-tab">
                <div class="panel">
                    <form action={% url 'dentx:update_dentist' form="password" %} method="POST">
                        {% csrf_token %}
                        {% if active_tab == "password" and success_message %}
                            {% if success_message == "Updated successfully" %}
                                <div class="alert alert-success">
                                    {% trans "Ma'lumotlar muvaffaqiyatli o'zgartirildi" %}
                                </div>
                            {% elif success_message == "Passwords do not match" %}
                                <div class="alert alert-danger">
                                    {% trans "Parollar mos kelmayapti" %}
                                </div>
                            {% endif %}
                        {% endif %}
                        {% for field in passwordupdateform %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    {{ error }}
                                </div>
                            {% endfor %}
                            <div class="col-md-6 mb-3 mx-auto">
                                <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" class="btn my_btn mx-auto">{% trans "Ma'lumotlarni o'zgartirish" %}</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade {% if active_tab == "clinic" %}show active{% endif %}" id="pills-clinic" role="tabpanel" aria-labelledby="pills-clinic-tab">
                <div class="panel">
                    <form action={% url 'dentx:update_dentist' form="clinic" %} method="POST">
                        {% csrf_token %}
                        {% if active_tab == "clinic" and success_message == "Updated successfully" %}
                            <div class="alert alert-success">
                                {% trans "Ma'lumotlar muvaffaqiyatli o'zgartirildi" %}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-12 mb-4">
                                <label for="id_clinic" class="form-label">{% trans "Shifoxona" %}</label>
                                <select name="clinic" class="form-select" id="id_clinic">
                                    {% for clinic in clinics %}
                                        {% if active_clinic.id == clinic.clinic_id %}
                                        <option value="{{ clinic.name }}" selected>{{ clinic.name }}</option>
                                        {% else %}
                                        <option value="{{ clinic.name }}">{{ clinic.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                    <option value="other">{% trans "Boshqa" %}</option>
                                </select>
                            </div>
                            {% for field in clinicform %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                                {% if field.name == "worktime_begin" %}
                                    <div class="col-md-6 mb-3">
                                        <label for="worktime_holder" class="form-label">{% trans "Ish vaqti" %}</label>
                                        <div id="worktime_holder">
                                            <div class="worktime_item">
                                                <i id="worktime_begin_1" class="fas fa-sort-up"></i>
                                                {{ field }}
                                                <i id="worktime_begin_2" class="fas fa-sort-down"></i>
                                            </div>
                                {% elif field.name == "worktime_end" %}
                                            <div class="worktime_item">
                                                <i id="worktime_end_1" class="fas fa-sort-up"></i>
                                                {{ field }}
                                                <i id="worktime_end_2" class="fas fa-sort-down"></i>
                                            </div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="col-md-6 mb-3">
                                        <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                                        {{ field }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <button type="submit" class="btn my_btn mx-auto">{% trans "Ma'lumotlarni o'zgartirish" %}</button>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade {% if active_tab == "clinic-photo" %}show active{% endif %}" id="pills-clinic-photo" role="tabpanel" aria-labelledby="pills-clinic-photo-tab">
                <div class="panel">
                    {% if cabinet_images %}
                        <div id="carouselCabinetImages" class="carousel slide" data-bs-ride="carousel">
                            <div class="carousel-indicators">
                                {% for i in counter %}
                                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ i }}" class="active" aria-current="true" aria-label="Slide {{ i }}"></button>
                                {% endfor %}
                            </div>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img src="{{ cabinet_image.image.url }}" class="d-block w-100">
                                </div>
                                {% for image in cabinet_images %}
                                    <div class="carousel-item">
                                        <img src="{{ image.image.url }}" class="d-block w-100">
                                    </div>
                                {% endfor %}
                            </div>
                            <button class="carousel-control-prev" type="button" data-bs-target="#carouselCabinetImages" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                            </button>
                            <button class="carousel-control-next" type="button" data-bs-target="#carouselCabinetImages" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                            </button>
                        </div>
                    {% elif cabinet_image %}
                        <img src="{{ cabinet_image.image.url }}" class="d-block w-100">
                    {% endif %}
                    <button class="btn my_btn mx-auto mt-4" id="cabinet-photo-upload-button">{% trans "Rasm yuklash" %}</button>
                    <input type="file" class="d-none" id="cabinet-photo-upload" name="cabinet-photo-upload">
                </div>
            </div>
            <div class="tab-pane fade {% if active_tab == "services" %}show active{% endif %}" id="pills-services" role="tabpanel" aria-labelledby="pills-services-tab">
                <div class="panel">
                    <div class="row align-items-center">
                        <div class="col"></div>
                        <div class="col-auto">
                            <button class="btn my_btn" data-bs-toggle="modal" data-bs-target="#serviceModal">{% trans "Xizmat qo'shish" %}</button>
                        </div>
                    </div>
                    <div class="modal fade" id="serviceModal" tabindex="-1" aria-labelledby="serviceModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="serviceModalLabel">{% trans "Xizmat qo'shish" %}</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form action={% url 'dentx:update_dentist' form="services" %} class="form-group" method="POST">
                                        {% csrf_token %}
                                        <div class="pats">
                                            <div class="bottom-inputs d-flex justify-content-between flex-wrap mt-2">
                                                <div class="left col-12 col-lg-6 d-flex flex-column align-items-start">
                                                    <label class="mb-1 left" for="id_name_uz">{{ serviceform.name_uz.label }}</label>
                                                    {{ serviceform.name_uz }}
                                                </div> 
                                                <div class="center col-12 col-lg-6 d-flex flex-column align-items-start">
                                                    <label class="mb-1 left" for="id_name_ru">{{ serviceform.name_ru.label }}</label>
                                                    {{ serviceform.name_ru }}
                                                </div>
                                                <div class="end col-12 col-lg-6">
                                                    <label class="mt-3 mb-1 left" for="id_duration">{{ serviceform.duration.label }}</label>
                                                    <div>
                                                    {{ serviceform.duration }}
                                                    </div>
                                                </div>
                                                <div class="end col-12 col-lg-6 d-flex flex-column align-items-start">
                                                    <label class="mt-3 mb-1 left" for="id_price">{{ serviceform.price.label }}</label>
                                                    {{ serviceform.price }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-primary me-md-2 mt-2" type="submit">Tasdiqlamoq</button>
                                            <button class="btn btn-secondary mt-2" type="button" data-bs-dismiss="modal" aria-label="Close">Bekor qilmoq</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="overflow mt-4">
                        <table class="table table-hover border">
                            <thead class="table-light">
                                <tr>
                                    <th class="border" colspan="2">{% trans "Xizmat nomi" %}</th>
                                    <th class="border" rowspan="2">{% trans "Davomiyligi" %}</th>
                                    <th class="border" rowspan="2">{% trans "Narxi" %}</th>
                                </tr>
                                <tr>
                                    <th class="border">{% trans "O'zbekchada" %}</th>
                                    <th class="border">{% trans "Ruschada" %}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for service in services %}
                                <tr>
                                    <td class="border">{{ service.name_uz }}</td>
                                    <td class="border">{{ service.name_ru }}</td>
                                    <td class="border">{% convert_time service.duration %}</td>
                                    <td class="border">{{ service.price }} {% trans "so'm" %}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script type="text/javascript">
        {% for field in illnessform %}
            {% if field.name == "allergy" %}
                $("#id_{{ field.name }}").val({{ field.value }})
                if ($("#id_allergy").val() == 2) {
                    $("#id_allergy_detail").addClass("d-block").removeClass("d-none")
                }
            {% elif field.name != "allergy_detail" %}
                $("#id_{{ field.name }}").val({{ field.value }})
            {% endif %}
        {% endfor %}
        {% for field in otherillnessform %}
            {% if field.name == "medications" %}
                $("#id_{{ field.name }}").val({{ field.value }})
                if ($("#id_medications").val() == 2) {
                    $("#id_medications_detail").addClass("d-block").removeClass("d-none")
                }
            {% elif field.name == "pregnancy" %}
                $("#id_{{ field.name }}").val({{ field.value }})
                if ($("#id_pregnancy").val() == 2) {
                    $("#id_pregnancy_detail").addClass("d-block").removeClass("d-none")
                }
            {% elif field.name != "medications_detail" and field.name != "pregnancy_detail" %}
                $("#id_{{ field.name }}").val({{ field.value }})
            {% endif %}
        {% endfor %}

        var date = new Date()
        var current_year = date.getFullYear(), current_month = date.getMonth()
        var months_uz = ["Yanvar", "Fevral", "Mart", "Aprel", "May", "Iyun", "Iyul", "Avgust", "Sentyabr", "Oktyabr", "Noyabr", "Dekabr"],
            months_ru = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
        $("#birth_year_1").on("click", function(){
            if ($("#year_holder").val() == "") {
                $("#year_holder").val(current_year)
            } else if (parseInt($("#year_holder").val()) < current_year) {
                $("#year_holder").val(parseInt($("#year_holder").val()) + 1)
            }
        })
        $("#birth_year_2").on("click", function() {
            if ($("#year_holder").val() == "") {
                $("#year_holder").val(current_year)
            } else if (parseInt($("#year_holder").val()) > 1900) {
                $("#year_holder").val(parseInt($("#year_holder").val()) - 1)
            }
        })
        {% get_current_language as LANGUAGE_CODE %}
        $("#birth_month_1").on("click", function() {
            if ($("#month_holder").val() == "") {
                {% if LANGUAGE_CODE == "uz" %}
                    $("#month_holder").val(months_uz[current_month])
                {% elif LANGUAGE_CODE == "ru" %}
                    $("#month_holder").val(months_ru[current_month])
                {% endif %}
            } else {
                {% if LANGUAGE_CODE == "uz" %}
                    for (let i = 0; i < months_uz.length; i++) {
                        if ($("#month_holder").val() == months_uz[i] && i < months_uz.length - 1) {
                            $("#month_holder").val(months_uz[i + 1])
                            break
                        }
                    }
                {% elif LANGUAGE_CODE == "ru" %}
                    for (let i = 0; i < months_ru.length; i++) {
                        if ($("#month_holder").val() == months_ru[i] && i < months_ru.length - 1) {
                            $("#month_holder").val(months_ru[i + 1])
                            break
                        }
                    }
                {% endif %}
            }
        })
        $("#birth_month_2").on("click", function() {
            if ($("#month_holder").val() == "") {
                {% if LANGUAGE_CODE == "uz" %}
                    $("#month_holder").val(months_uz[current_month])
                {% elif LANGUAGE_CODE == "ru" %}
                    $("#month_holder").val(months_ru[current_month])
                {% endif %}
            } else {
                {% if LANGUAGE_CODE == "uz" %}
                    for (let i = months_uz.length; i >= 0; i--) {
                        if ($("#month_holder").val() == months_uz[i] && i > 0) {
                            $("#month_holder").val(months_uz[i - 1])
                            break
                        }
                    }
                {% elif LANGUAGE_CODE == "ru" %}
                    for (let i = months_ru.length; i >= 0; i--) {
                        if ($("#month_holder").val() == months_ru[i] && i > 0) {
                            $("#month_holder").val(months_ru[i - 1])
                            break
                        }
                    }
                {% endif %}
            }
        })
        $("#birth_day_1").on("click", function() {
            if ($("#day_holder").val() == "") {
                $("#day_holder").val(1)
            } else if (parseInt($("#day_holder").val()) < 31) {
                $("#day_holder").val(parseInt($("#day_holder").val()) + 1)
            }
        })
        $("#birth_day_2").on("click", function() {
            if ($("#day_holder").val() == "") {
                $("#day_holder").val(1)
            } else if (parseInt($("#day_holder").val()) > 1) {
                $("#day_holder").val(parseInt($("#day_holder").val()) - 1)
            }
        })
        $("#worktime_begin_1").on("click", function() {
            work_begin = parseInt($("#worktime_begin_holder").val().split(":")[0]) * 60 + parseInt($("#worktime_begin_holder").val().split(":")[1])
            work_end = parseInt($("#worktime_end_holder").val().split(":")[0]) * 60 + parseInt($("#worktime_end_holder").val().split(":")[1])
            if (work_end - work_begin > 60) {
                if ($("#worktime_begin_holder").val() == "") {
                    $("#worktime_begin_holder").val("00:00")
                } else if (parseInt($("#worktime_begin_holder").val().split(":")[1]) == 45) {
                    let hour = parseInt($("#worktime_begin_holder").val().split(":")[0]) + 1
                    $("#worktime_begin_holder").val(`${hour < 10 ? `0${hour}` : hour}:00`)
                } else if ([0, 15, 30].includes(parseInt($("#worktime_begin_holder").val().split(":")[1]))) {
                    let hour = parseInt($("#worktime_begin_holder").val().split(":")[0])
                    let minute = parseInt($("#worktime_begin_holder").val().split(":")[1]) + 15
                    $("#worktime_begin_holder").val(`${hour < 10 ? `0${hour}` : hour}:${minute}`)
                }
            }
        })
        $("#worktime_begin_2").on("click", function() {
            work_begin = $("#worktime_begin_holder").val().split(":")[0] * 60 + $("#worktime_begin_holder").val().split(":")[1]
            if (work_begin > 0) {
                if ($("#worktime_begin_holder").val() == "") {
                    $("#worktime_begin_holder").val("00:00")
                } else if (parseInt($("#worktime_begin_holder").val().split(":")[1]) == 0) {
                    let hour = parseInt($("#worktime_begin_holder").val().split(":")[0]) - 1
                    $("#worktime_begin_holder").val(`${hour < 10 ? `0${hour}` : hour}:45`)
                } else if ([15, 30, 45].includes(parseInt($("#worktime_begin_holder").val().split(":")[1]))) {
                    let hour = parseInt($("#worktime_begin_holder").val().split(":")[0])
                    let minute = parseInt($("#worktime_begin_holder").val().split(":")[1]) - 15
                    $("#worktime_begin_holder").val(`${hour < 10 ? `0${hour}` : hour}:${minute == 0 ? "00" : minute}`)
                }
            }
        })
        $("#worktime_end_1").on("click", function() {
            work_begin = $("#worktime_end_holder").val().split(":")[0] * 60 + $("#worktime_end_holder").val().split(":")[1]
            if (work_begin > 0) {
                if ($("#worktime_end_holder").val() == "") {
                    $("#worktime_end_holder").val("00:00")
                } else if (parseInt($("#worktime_end_holder").val().split(":")[1]) == 45) {
                    let hour = parseInt($("#worktime_end_holder").val().split(":")[0]) + 1
                    $("#worktime_end_holder").val(`${hour < 10 ? `0${hour}` : hour == 24 ? "00" : hour}:00`)
                } else if ([0, 15, 30].includes(parseInt($("#worktime_end_holder").val().split(":")[1]))) {
                    let hour = parseInt($("#worktime_end_holder").val().split(":")[0])
                    let minute = parseInt($("#worktime_end_holder").val().split(":")[1]) + 15
                    $("#worktime_end_holder").val(`${hour < 10 ? `0${hour}` : hour}:${minute}`)
                }
            }
        })
        $("#worktime_end_2").on("click", function() {
            work_begin = parseInt($("#worktime_begin_holder").val().split(":")[0]) * 60 + parseInt($("#worktime_begin_holder").val().split(":")[1])
            work_end = parseInt($("#worktime_end_holder").val().split(":")[0]) * 60 + parseInt($("#worktime_end_holder").val().split(":")[1])
            if (work_end - work_begin > 60) {
                if ($("#worktime_end_holder").val() == "") {
                    $("#worktime_end_holder").val("00:00")
                } else if (parseInt($("#worktime_end_holder").val().split(":")[1]) == 0) {
                    let hour = parseInt($("#worktime_end_holder").val().split(":")[0]) - 1
                    $("#worktime_end_holder").val(`${hour < 10 ? `0${hour}` : hour}:45`)
                } else if ([15, 30, 45].includes(parseInt($("#worktime_end_holder").val().split(":")[1]))) {
                    let hour = parseInt($("#worktime_end_holder").val().split(":")[0])
                    let minute = parseInt($("#worktime_end_holder").val().split(":")[1]) - 15
                    $("#worktime_end_holder").val(`${hour < 10 ? `0${hour}` : hour}:${minute == 0 ? "00" : minute}`)
                }
            } else if (work_end == 0) {
                $("#worktime_end_holder").val("23:45")
            }
        })
        $("#id_allergy").on("change", function() {
            if ($("#id_allergy").val() == 2) {
                $("#id_allergy_detail").addClass("d-block").removeClass("d-none")
            } else  {
                $("#id_allergy_detail").removeClass("d-block").addClass("d-none")
            }
        })
        $("#other_illness").on("change", function() {
            if ($("#other_illness").is(":checked")) {
                $("#other_illness_holder").addClass("d-block").removeClass("d-none")
            } else {
                $("#other_illness_holder").removeClass("d-block").addClass("d-none")
            }
        })
        $("#id_medications").on("change", function() {
            if ($("#id_medications").val() == 2) {
                $("#id_medications_detail").addClass("d-block").removeClass("d-none")
            } else {
                $("#id_medications_detail").removeClass("d-block").addClass("d-none")
            }
        })
        $("#id_pregnancy").on("change", function() {
            if ($("#id_pregnancy").val() == 2) {
                $("#id_pregnancy_detail").addClass("d-block").removeClass("d-none")
            } else {
                $("#id_pregnancy_detail").removeClass("d-block").addClass("d-none")
            }
        })
        $("#birth_year_1").on("change", function() {
            if (parseInt(this.val()) >= current_year) {
                this.val(current_year)
            }
        })
        if ($("#id_clinic").val() != "other") {
            $("#id_clinic_name_uz").attr("readonly", true)
            $("#id_clinic_name_ru").attr("readonly", true)
            $("#id_address_uz").attr("readonly", true)
            $("#id_address_ru").attr("readonly", true)
            $("#id_orientir_uz").attr("readonly", true)
            $("#id_orientir_ru").attr("readonly", true)
            $("#id_region").attr("readonly", true)
            $("#id_latitude").attr("readonly", true)
            $("#id_longitude").attr("readonly", true)
        }
        $("#id_clinic").on("change", function() {
            if ($("#id_clinic").val() == "other") {
                $("#id_clinic_name_uz").val("").removeAttr("readonly")
                $("#id_clinic_name_ru").val("").removeAttr("readonly")
                $("#id_address_uz").val("").removeAttr("readonly")
                $("#id_address_ru").val("").removeAttr("readonly")
                $("#id_orientir_uz").val("").removeAttr("readonly")
                $("#id_orientir_ru").val("").removeAttr("readonly")
                $("#id_region").removeAttr("readonly")
                $("#id_latitude").val("").removeAttr("readonly")
                $("#id_longitude").val("").removeAttr("readonly")
            } else {
                $.ajax({
                    url: "{% url 'dentx:get_clinic' %}",
                    type: "POST",
                    data : {
                        csrfmiddlewaretoken: "{{ csrf_token }}",
                        clinic: $("#id_clinic").val(),
                    },
                }).always(function(result) {
                    $("#id_clinic_name_uz").val(result["name_uz"]).attr("readonly", true)
                    $("#id_clinic_name_ru").val(result["name_ru"]).attr("readonly", true)
                    $("#id_address_uz").val(result["address_uz"]).attr("readonly", true)
                    $("#id_address_ru").val(result["address_ru"]).attr("readonly", true)
                    $("#id_orientir_uz").val(result["orientir_uz"]).attr("readonly", true)
                    $("#id_orientir_ru").val(result["orientir_ru"]).attr("readonly", true)
                    $("#id_region").val(result["region"]).change().attr("readonly", true)
                    $("#id_latitude").val(result["latitude"]).attr("readonly", true)
                    $("#id_longitude").val(result["longitude"]).attr("readonly", true)
                })
            }
        })
        let intervalFunc
        $("#cabinet-photo-upload-button").on("click", function() {
            $("#cabinet-photo-upload").click()
            intervalFunc = setInterval(function() {
                if ($("#cabinet-photo-upload")[0].files.length != 0) {
                    let data = new FormData()
                    data.append("file", $("#cabinet-photo-upload")[0].files[0])
                    data.append("csrfmiddlewaretoken", "{{ csrf_token }}")
                    $.ajax({
                        url: "{% url 'dentx:update_dentist' form='clinic-photo' %}",
                        type: "POST",
                        processData: false,
                        contentType: false,
                        mimeType: "multipart/form-data",
                        data : data
                    }).always(function(result) {
                        let images = JSON.parse(result)
                        if (images.counter > 1) {
                            if ($("#pills-clinic-photo > .panel .carousel-indicators").length == 0) {
                                $("#pills-clinic-photo > .panel > img").remove()
                            } else {
                                $("#pills-clinic-photo > .panel > div").remove()
                            }
                            $("#pills-clinic-photo > .panel").prepend(
                                $("<div id='carouselCabinetImages' class='carousel slide' data-bs-ride='carousel'></div>").append(
                                    $("<div class='carousel-indicators'></div>"),
                                    $("<div class='carousel-inner'></div>"),
                                    $("<button class='carousel-control-prev' type='button' data-bs-target='#carouselCabinetImages' data-bs-slide='prev'></button>"),
                                    $("<button class='carousel-control-next' type='button' data-bs-target='#carouselCabinetImages' data-bs-slide='next'></button>")
                                )
                            )
                            for (let i = 0; i < images.counter; i++) {
                                $("#pills-clinic-photo > .panel .carousel-indicators").append(
                                    $(`<button type='button' data-bs-target='#carouselExampleIndicators' data-bs-slide-to='${i}' class='active' aria-current='true' aria-label='Slide ${i}'></button>`)
                                )
                            }
                            $("#pills-clinic-photo > .panel .carousel-inner").append(
                                $("<div class='carousel-item active'></div>").append(
                                    $(`<img src=${images.cabinet_image} class='d-block w-100'>`)
                                )
                            )
                            for (let i = 0; i < images.cabinet_images.length; i++) {
                                $("#pills-clinic-photo > .panel .carousel-inner").append(
                                    $("<div class='carousel-item'></div>").append(
                                        $(`<img src=${images.cabinet_images[i]} class='d-block w-100'>`)
                                    )
                                )
                            }
                            $("#pills-clinic-photo > .panel .carousel-control-prev").append(
                                $("<span class='carousel-control-prev-icon' aria-hidden='true'></span>"),
                                $("<span class='visually-hidden'></span>").html("Previous"),
                            )
                            $("#pills-clinic-photo > .panel .carousel-control-next").append(
                                $("<span class='carousel-control-next-icon' aria-hidden='true'></span>"),
                                $("<span class='visually-hidden'></span>").html("Next"),
                            )
                        } else if (images.counter == 1) {
                            if ($("#pills-clinic-photo > .panel > img").length == 0) {
                                $("#pills-clinic-photo > .panel").prepend(
                                    $(`<img src=${images.cabinet_image} class='d-block w-100'>`).html("{% trans "Kabinet rasmi" %}")
                                )
                            }
                        }
                        $("#cabinet-photo-upload").val("")
                        clearInterval(intervalFunc)
                    })
                }
            }, 500)
        })
        let request_path = "{{ request.path }}"
        request_path = request_path.split("/")
        $("#pills-profile-tab").on("click", function() {
            temp = request_path
            temp[temp.length - 1] = "profile"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-password-tab").on("click", function() {
            temp = request_path
            temp[temp.length - 1] = "password"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-clinic-tab").on("click", function() {
            temp = request_path
            temp[request_path.length - 1] = "clinic"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-clinic-photo-tab").on("click", function() {
            temp = request_path
            temp[request_path.length - 1] = "clinic-photo"
            window.history.replaceState({}, "", temp.join("/"))
        })
        $("#pills-services-tab").on("click", function() {
            temp = request_path
            temp[request_path.length - 1] = "services"
            window.history.replaceState({}, "", temp.join("/"))
        })
    </script>
{% endblock %}